<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Revamp by Anubhav Kumar.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/anubhav-kumar-9aa3261a6/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/KrAnubhav" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:anubhavkr.it@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.geeksforgeeks.org/user/anubhavkrit/" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
