<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    My name is Anubhav Kumar and I enjoy <span class="default-highlight">creating impactful software
                        solutions</span>.
                </p>
                <p>
                    <img src="../../assets/bc01_a.png" alt="Anubhav at a workspace" class="about-picture">
                </p>
                <p class="default-p">
                    I am a Full Stack Java Developer at Capgemini. Hindi is my native language, and I am fluent in 
                    English.
                </p>
                <p class="default-p">My passion for professional software development started
                    during my early college days when I started solving complex coding problems and building innovative web applications.
                    I developed a strong foundation in <span class="default-highlight">Data Structures and Algorithms, Object-Oriented Programming, and System Design</span>. 
                </p>
                <p class="default-p">
                    Fast-forward to today, I have developed several web apps and had the privilege of working with amazing 
                    people in the tech industry.
                </p>
                <p class="default-p">
                    I have worked with <span class="default-highlight">Java, Spring Framework, Spring Boot, JPA, Hibernate, MySQL</span> along with 
                    frontend technologies like <span class="default-highlight">HTML, CSS, JavaScript, and TypeScript</span>. 
                    I continuously expand my skills by engaging in solving coding problems and developing software that addresses real-world challenges.
                </p>
                <p>
                    <img src="../../assets/bc02_a.png" alt="Anubhav at a tech event" class="about-picture">
                </p>
                <p class="default-p">
                    On a personal level, I enjoy <span class="default-highlight">reading books, playing football, and writing poetry</span>. 
                    I also run an educational YouTube channel with over 3,000 subscribers. I'm passionate about teamwork, problem-solving, 
                    and learning new technologies to stay up-to-date in this ever-evolving field.
                </p>
                <p class="default-p">
                    My goal is to write efficient, scalable code and solve business problems through innovative software solutions.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my Github account for projects or
                        <span class="default-highlight">reach out to arrange a meeting</span>.
                        I would be happy to discuss how my <span class="default-highlight">coding and problem-solving skills</span>
                        can contribute to solving your business challenges.
                    </p>
                    <button>
                        <a routerLink="/contact">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
