<div class="accordion-left">

  <accordion [isAnimated]="true">

    <!-- languages i know -->
    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Advanced <strong><span class="default-highlight">Hindi</span></strong></p>
      <p>Native <strong><span class="default-highlight">Angika</span></strong></p>
    </div>
    </accordion-group>

    <!-- Education Details  -->
    <accordion-group 
    heading="Education." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2023 - Haldia Institute Of Technology - <strong><span class="default-highlight">Information Technology</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Year Project | Fake News Detection Using Machine Learning
        </li>
        <li>
          DGPA : 8.67 
        </li>
      </ul>
      <p>2019 - SSMCD College - <strong><span class="default-highlight">Science With PCMB</span></strong> - Senior Secondary Education</p>
      <ul>
      </ul>
      <p>2016 - Kendriya Vidyalaya Garhara - <strong><span class="default-highlight">General 5 Subject</span></strong> - Secondary Education</p>
      <ul>
      </ul>
    </div>    
  </accordion-group>

  <!-- Top Few Project  -->
    <accordion-group 
    heading="Project."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Group Project - <strong><span class="default-highlight">Hospital Management System</span></strong> - Currently</p>
      <ul>
        <li>
          Hospital Management System focused on Fullstack applications. Technologies include 
          Spring Boot, Data JPA, Junit 5, MySQL, and 
          as well as Angular, Typescript, Javascript, HTML, CSS and more.
        </li>
      
      </ul>
    </div>
    </accordion-group>
    
    <!-- Technologies that i know -->
 <accordion-group 
    heading="Techs I Know."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-spring-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-hibernate-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-intellij-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
        
      </div>
    </accordion-group> 


  </accordion>
  
</div>