<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Anubhav Kumar, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a Full Stack Developer in Capgemini. I leverage my fluency in Java, Spring Boot, Microservices, Hibernate, MySQL, Angular, HTML, CSS and TypeScript. <br>
            My goal is to contribute to organization by writing efficient code and solve business problems through innovative software solutions.  
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  